<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/thread.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha256-..."
      crossorigin="anonymous"
    />
    <title>{{ thread.title }}</title>
  </head>

  <body>
    {% include 'components/navbar.html' %}
    <div class="container">
      <div class="styled-form"> 
     
          <form class="reply_inputs" method="post">
            <h3>Reply to thread</h3>
            <textarea
              class="form-content"
              name="content"
              rows="4"
              cols="30"
              required
            ></textarea
            ><br />
            <input class="form-submit" type="submit" value="Post Reply" />
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          </form>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
        
      <div id="threadBox">
        <div class="smallerThreadBox_reply">
          
          <div class="threadHeader_reply">
            <h3>{{ thread.title }} {{
              thread.like_count }}</h3>
          </div>
          {% if thread.media_path %}
          {% if thread.media_path|length == 1 %}
            {% set media_path = thread.media_path[0] %}
            {% if media_path.endswith('.mp4') or media_path.endswith('.gif') or media_path.endswith('.webm') %}
              <div class="media-container_reply">
                <video controls class="thread_media_reply">
                  <source src="/{{ media_path }}" type="video/mp4">
                  <source src="/{{ media_path }}" type="image/gif">
                  <source src="/{{ media_path }}" type="video/webm">
                  Your browser does not support the video tag.
                </video>
              </div>
            {% else %}
              <div class="media-container_reply">
                <img src="/{{ media_path }}" alt="Thread Image" class="thread_media_reply">
              </div>
            {% endif %}
          {% else %}
            <div class="media-container_reply">
              <img src="placeholder.jpg" alt="Image or video not provided" class="thread_media_reply">
            </div>
          {% endif %}
        {% endif %}
          <div class="threadContent">
            <p>{{ thread.content }}</p>
            <h5>Post by: {{ thread.user_username }}</h5>
          </div>
          </div> 
          <div class="smallerThreadBox_reply">
          <h3>Replies:</h3>
          <div class="threadContent_replies">
            <div class="replies">
              {% for post in posts %}
              <div class="reply">
                <div class="post_info">
                  <p class="info_item">{{ post.id }} &bull; </p>
                  <p class="info_item">{{ post.post_date }} &bull;</p>
                  <p class="info_item">by {{ post.user_username }}</p>
                </div>
                <p>{{ post.content }}</p>
              </div>
              {% endfor %}
            </div>
          </div> 
        </div>
      </div>
     </div>
   
    {% include 'components/footer.html' %}
  </body>
</html>
