.footer {
    text-align: center;
    background-color: #333;
    color: white;
}

.footer a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer a:hover {
 text-decoration: underline;
}

span {
    color: white;
}

.porina-nurkka {
    color: white;
    margin-left: 25px;
}

.navbar h2 {
    text-align: left;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 10px;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

/* Style for the navbar */
.navbar {
    background-color: #333; /* Setting background color */
    color: #fff; /* Setting text color */
    padding: 10px; /* Adding padding */
    display: flex; /* Using flexbox for layout */
    justify-content: space-between; /* Aligning items */
    align-items: center; /* Aligning items */
  }
  
  /* Style for the navbar brand */
  .navbar_flex_start {
    flex: 1; /* Taking up available space */
  }
  
  /* Style for the navbar links container */
  .navbar_flex-end {
    display: flex; /* Using flexbox for layout */
    align-items: center; /* Aligning items */
  }
  
  /* Style for navbar links */
  .navbar_flex-end a {
    color: #fff; /* Setting text color */
    text-decoration: none; /* Removing default underline */
    margin-left: 20px; /* Adding margin between links */
  }
  
  /* Style for logged in user info */
  .navbar_flex-end p {
    margin: 0; /* Removing default margin */
    margin-right: 20px; /* Adding margin */
  }
  
  /* Style for font-awesome icons */
  .navbar_flex-end i {
    margin-right: 5px; /* Adding margin */
  }
  
