body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4; /* Light gray background for the body */
}

.container {
    display: flex;
    flex: 1;
}

.porina-nurkka {
    color: white;
}

.makeNewThread {
    margin: 20px;
    padding: 10px;
    background-color: #555; /* Slightly darker gray */
    color: white;
    border: none;
    cursor: pointer;
}

#threadBox {
    display: flex;
    flex-wrap: wrap;
}

.smallerThreadBox {
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #fff; /* White background for thread box */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.smallerThreadBox_reply { 
    width: 80em;
    min-height: auto;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #fff; /* White background for thread box */
    display: flex;
    flex-direction: column;
}


.threadHeader h3 {
    background-color: #2980b9; /* Darker blue background for header */
    margin: 8px;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.reply {
    border: 1px solid #ccc;
}
.threadContent,
.threadFooter {
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 16px;
}
.threadFooter {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.like_button{
    font-size: 16px !important;
}

.threadFooter button,
.threadFooter a {
    padding: 8px;
    margin: 0;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
}


.threadFooter button:hover,
.threadFooter a:hover {
    background-color: #555;
}

.styled-form {
    margin: 15px;
    margin-left: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-height: auto;
}
.reply_inputs{
    position: fixed;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;

}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 4px;
}

.form-submit {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-submit:hover {
    background-color: #2980b9;
}

.poll-form {
    margin-top: 20px;
}

.poll-choice {
    display: block;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#poll_container {
    justify-content: center;
}

.profpic {
    height: 50%;
    width: 15%;
    border: 1px solid #ccc
}

.profile_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;

}
.profile_content {
    margin:  5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
    flex: 1;
    justify-content: center;
}