<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha256-..." crossorigin="anonymous" />
    <title>Edit Thread</title>
</head>

<body>
    {% include 'components/navbar.html' %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- edit_thread.html -->
    <div class="container">
    
    <form class="styled-form" action="{{ url_for('edit_thread', thread_id=thread.id) }}" method="POST">
     <h3>Edit Thread</h3> 
        <label class="form-label" for="new_title">New Title:</label>
        <input class="form-input" type="text" name="new_title" value="{{ thread.title }}" required>
        <br>
        <label class="form-label" for="new_content">New Content:</label>
        <textarea class="form-input" name="new_content" rows="4" required>{{ thread.content }}</textarea>
        <br>
        <input class="form-submit" type="submit" value="Save Changes">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>

    {% include 'components/footer.html' %}
</body>

</html>