<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porinanurkka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">

</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="container">
        <a href="/newthread">Make a Thread</a>
        <div id="threadBox">
            {% for thread in threads %}
            <div class="smallerThreadBox">
                <h3>Title: {{ thread.title }}</h3>
                <p>Message: {{ thread.content }}</p>
                <p>Message_id: {{ thread.user_username }}</p>
                <p>time {{ thread.creation_date }}</p>
                <a href="reply">vastaa</a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'components/footer.html' %}


</body>

</html>