<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porinanurkka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">

</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="container">

        {% include 'components/newthread.html' %}
        <hr />
        <div id="threadBox">
            {% for thread in threads %}
            <div class="smallerThreadBox">
                <h3>Title: {{ thread.title }}</h3>
                <p>Likes: {{ thread.like_count }}</p>
                <p>Message: {{ thread.content }}</p>
                <p>Message_id: {{ thread.user_username }}</p>
                <p>time {{ thread.creation_date }}</p>
                <form method="POST" action="{{ url_for('like', thread_id=thread.id) }}">
                    <button type="submit">Like</button>
                    <a href="{{ url_for('view_thread', thread_id=thread.id) }}">Reply</a>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </form>

            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'components/footer.html' %}


</body>

</html>