<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha256-..." crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    {% include 'components/navbar.html' %}
    <div class="container">
        {% if session.username %}
        <p>Logged in as {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <form class="styled-form" action="/login" method="POST">
            <label class="form-label">Username<label>
                <input class="form-input" type="text" name="username">
    
            <label class="form-label">password<label>
                <input class="form-input" type="password" name="password">
           

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <input class="form-submit" type="submit" value="login">
            <a  href="/register">Don't have an account?</a>
        </form>
        {% endif %}
    </div>
    {% include 'components/footer.html' %}
</body>

</html>