<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Document</title>
</head>

<body>
    {% include 'components/navbar.html' %}
    <div class="container">
        
        {% if session.username %}
        <p>Logged in as {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <form action="/login" method="POST">
            <p>Username:<br>
                <input type="text" name="username">
            </p>
            <p>password:<br>
                <input type="password" name="password">
            </p>
            <input type="submit" value="login">
            <a href="/register">Don't have an account?</a>
        </form>
        {% endif %}


    </div>
    {% include 'components/footer.html' %}
</body>

</html>