<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="container">
        
        <form action="/send" method="POST">
            Otsikko: <br>
            <input type="text" name="title" required>
            <br>
            Viesti: <br>
            <textarea name="content" rows="3" cols="40" required></textarea>
            <br>
            <input type="submit" value="Lähetä">
        </form>
    
    </div>
    
    {% include 'components/footer.html' %}
    
</body>

</html>