<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ thread.title }}</title>
</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="container">
        <h1>{{ thread.title }}</h1>
        <p>{{ thread.content }}</p>
        <p>Op: {{ thread.user_username }}</p>

        <h2>Replies:</h2>
        <div>
            {% for post in posts %}
            <p>{{ post.content }}</p>
            <p>Username: {{ post.user_username }}</p>
            {% endfor %}
        </div>

        <h2>Reply to Thread:</h2>
        <form method="post">
            <textarea name="content" rows="4" cols="50" required></textarea><br>
            <input type="submit" value="Post Reply">
        </form>
    </div>

    {% include 'components/footer.html' %}
</body>

</html>