<form class="styled-form" action="/create" method="POST">
    <p class="form-label">topic:<br>
    <input class="form-input" type="text" name="topic"></p>

    <p class="form-label">choice 1:<br>
    <input class="form-input" type="text" name="choice"></p>

    <p class="form-label">choice 2:<br>
    <input class="form-input" type="text" name="choice"></p>

    <p class="form-label">choice 3:<br>
    <input class="form-input" type="text" name="choice"></p>

    <p class="form-label">choice 4:<br>
    <input class="form-input" type="text" name="choice"></p>

    <input class="form-submit" type="submit" value="create poll">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
</form>